name: Actions Workflow



on: 
  repository_dispatch

jobs:
  run-dispatch-action:
    runs-on: ubuntu-latest
    steps:
      - name: echo payload
        run: echo "${{ github.event.client_payload.env }}"